
html, body {
  height: 100%;  
  margin: 0;      
  padding-top: calc(1rem - 10px);  
  padding-bottom: calc(1rem - 10px); 
  text-align: left;  
  box-sizing: border-box; 
}

body {
  font-family: Arial, sans-serif; 
}

.container {
  margin-top: 10px; 
  padding: 0; 
  width: 100%;  
}

ul {
  list-style-type: none;  
  padding: 0;
}

.list-group-item {
  
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f8f9fa; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.badge {
  font-size: 2em;
  padding: 5px 10px;
}

.col-4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745; 
}
