/* Reset some global styles to ensure alignment */
html, body {
  height: 100%;   /* Ensures the page takes full height */
  margin: 0;      /* Removes default margin */
  padding: 0;     /* Removes default padding */
   /* Ensures block-level rendering */
  text-align: left;  /* Ensures text aligns to the left */
  box-sizing: border-box; /* Avoids padding or border affecting width/height */
}

body {
  font-family: Arial, sans-serif; /* Set the font for better readability */
}

.container {
  margin-top: 10px; /* Adds space from the top of the page */
  padding: 0; /* Ensures no padding from container */
  width: 100%;  /* Full width of the screen */
}

ul {
  list-style-type: none;  /* Remove default list styling */
  padding: 0;
}

.list-group-item {
  
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f8f9fa; /* Light background */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.badge {
  font-size: 2em;
  padding: 5px 10px;
}

.col-4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745; /* Green color for total price */
}
